@import url("https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400;0,700;1,400;1,700&display=swap");

input {
  outline: none;
}

a {
  text-decoration: none;
}

body {
  font-family: "Arimo", sans-serif;
  background-color: rgba(6, 9, 13, 1.00);
}
