.LoginBox {
  width: 350px;
  margin: 0 11px;

  .login-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 70%;
    border: 1px solid #dbdbdb;
    margin-top: 20px;
    background-color: #E2DED0;
  }

  .logo {
    width: 50%;
    margin: 25px;
  }

  .username-box,
  .pw-box,
  .login-button {
    width: 77%;
  }

  .username-box,
  .pw-box {
    text-indent: 0.4em;
    font-size: 75%;
    background-color: #fafafa;
    color: #9f9f9f;
    border-style: none;
    border: 0.5px solid #dbdbdb;
    border-radius: 3px;
    height: 40px;
    margin: 3px;
    cursor: text;
  }

  .username-box:focus,
  .pw-box:focus {
    border: 0.5px solid #a8a8a8;
  }

  .login-button {
    text-decoration: none;
    color: #ffffff;
    font-size: 85%;
    font-weight: 700;
    background-color: rgba(99, 132, 190, 0.3);
    border-radius: 3px;
    border-style: none;
    outline: none;
    height: 30px;
    margin: 12px;
  }

  .login-button.activated {
    background-color: rgba(99, 132, 190, 1.0);
    cursor: pointer;
  }

  .or-box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 6px;
  }

  span.or {
    font-size: 80%;
    color: #909090;
  }

  span.or-line {
    border-top: 0.5px solid #dbdbdb;
    width: 32%;
    margin: 10px;
  }

  .login-with-facebook {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
    margin: 15px;
    cursor: pointer;
  }

  img.fb-logo {
    width: 17px;
    height: auto;
  }

  a.fb-text {
    padding-left: 8px;
    font-size: 86%;
    font-weight: 600;
    color: #385185;
    text-decoration: none;
  }

  .forgot-pw {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 6px;
    margin-bottom: 22px;
    background-color: #E2DED0;
    cursor: pointer;
  }

  .forgot-pw a {
    font-size: 75%;
    color: rgba(99, 132, 190, 1.0);
    text-decoration: none;
  }

  .signup-box {
    text-align: center;
    padding: 25px;
    width: 100%;
    margin-top: 12px;
    border: 1px solid #dbdbdb;
    background-color: #E2DED0;
  }

  .signup-box p {
    font-size: 85%;
  }

  p.no-account-question {
    font-weight: 300;
    color: #303030;
  }

  span.signup-text a {
    font-weight: 700;
    color: rgba(99, 132, 190, 1.0);
    cursor: pointer;
    text-decoration: none;
  }

  p.get-the-app {
    text-align: center;
    padding: 20px;
    font-size: 85%;
    color: #E2DED0;
  }

  .download {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 24px;
  }

  .download a {
    margin: 0 4px;
  }

  .app-store-button,
  .play-store-button {
    width: auto;
    height: 40px;
  }
}
